@keyframes nav__link_hover {
  from {
    color: #000;
  }

  to {
    color: #2f80ed;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: end;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  animation: nav__link_hover 0.25s ease-in forwards;
}
